
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  height: 1000px;
}

.contacts-con {
  height: 1000px;
}

.contacts-list {
  height: 1000px;
  border-right: 1px solid black;
}

.contacts-title {
  text-align: center;
  border-bottom: 1px solid black;
}

#addForm{
margin:40px auto;
width:200px;
 #addbutton{
   margin:0 auto;
 }
}
